@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppins;
    src: url(/public/font/Poppins-Regular.ttf);
    src: url(/public/font/Poppins-Regular.woff);
}
@layer base {
    body{
        @apply font-[poppins]
    }
}
@layer components {
    .swiper-wrapper {
       @apply w-[100%] !max-h-max ease-linear pb-[64px] relative 
    }
    .swiper-pagination-bullet {
        @apply bg-[#4f46e5]
    }
}